@font-face {
    font-family: 'Euclid';
    font-display: swap;
    src: url('/fonts/Euclid/EuclidCircularB-Light.woff2') format('woff2');
    font-weight: 300;
}
@font-face {
    font-family: 'Euclid';
    font-display: swap;
    src: url('/fonts/Euclid/EuclidCircularB-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Euclid';
    font-display: swap;
    src: url('/fonts/Euclid/EuclidCircularB-Regular.woff2') format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'Euclid';
    font-display: swap;
    src: url('/fonts/Euclid/EuclidCircularB-RegularItalic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Euclid';
    font-display: swap;
    src: url('/fonts/Euclid/EuclidCircularB-Medium.woff2') format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'Euclid';
    font-display: swap;
    src: url('/fonts/Euclid/EuclidCircularB-MediumItalic.woff2') format('woff2');
    font-style: italic;
    font-weight: 500;
}
@font-face {
    font-family: 'Euclid';
    font-display: swap;
    src: url('/fonts/Euclid/EuclidCircularB-SemiBold.woff2') format('woff2');
    font-weight: 600;
}
@font-face {
    font-family: 'Euclid';
    font-display: swap;
    src: url('/fonts/Euclid/EuclidCircularB-SemiBoldItalic.woff2') format('woff2');
    font-style: italic;
    font-weight: 600;
}
@font-face {
    font-family: 'Euclid';
    font-display: swap;
    src: url('/fonts/Euclid/EuclidCircularB-Bold.woff2') format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'Euclid';
    font-display: swap;
    src: url('/fonts/Euclid/EuclidCircularB-BoldItalic.woff2') format('woff2');
    font-style: italic;
    font-weight: 700;
}
